{% extends '::base.html.twig' %}

{% block content %}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand"><a style="text-decoration: none" href="{{ path('homepage') }}">Testing system</a></h3>
                        <nav class="nav nav-masthead">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('index') }}">admin panel</a>
                            {% endif %}
                            {% if not app.user %}
                                <a href="{{ path('login') }}" class="signin btn btn-lg btn-secondary">Sign in</a>
                                <a href="{{ path('registration') }}" class="btn btn-lg btn-outline-secondary">Sign up</a>
                            {% else %}
                                <span style="margin-left: 50px; opacity: .6;"> {{ app.user.getUsername() }} </span>
                                <a style="margin-left: 10px; opacity: .6" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off" aria-hidden="true"></i>&nbsp;logout</a>
                            {% endif %}
                        </nav>
                    </div>
                </div>
                <div id="quiz">
                    <div id="quiz-header" style="display: none">
                        <h1>Testing system</h1>
                        <p class="faded">Every question has only one correct answer.</p>
                    </div>
                    <div id="quiz-start-screen" style="display: none;">
                        <p><a href="#" id="quiz-start-btn" class="quiz-button">Start</a></p>
                    </div>
                </div>
                <div class="cssload-thecube" style="display: none">
                    <div class="cssload-cube cssload-c1"></div>
                    <div class="cssload-cube cssload-c2"></div>
                    <div class="cssload-cube cssload-c4"></div>
                    <div class="cssload-cube cssload-c3"></div>
                </div>
                <div class="tests-container">
                    <h1 class="cover-heading">All current tests</h1>
                    <table class="table table-hover table-inverse quiz-table">
                        <thead>
                        <tr>
                            <th style="width: 6%;">#</th>
                            <th style="width: 18%;">Image</th>
                            <th style="width: 45%;">Test caption</th>
                            <th style="width: 25%;">Created at</th>
                            <th style="width: 6%;">Questions</th>
                            <th style="width: 6%">Mark\Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for test in uncompletedTests %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>
                                    {% if test.getImageName() is not null %}
                                        <img src="{{ vich_uploader_asset(test, 'imageFile')|imagine_filter('my_thumb') }}" alt="{{ test.getName() }}"/>
                                    {% endif %}
                                </td>
                                <td>{{ test.getName() }}</td>
                                <td>{{ test.getCreatedAt()|date }}</td>
                                <td> {{ test.getQuestionCount() }}</td>
                                <td><button data-id="{{ test.getId() }}" style="margin-top: 8px;" type="button" class="btn btn-outline-secondary test-start-btn {{ app.user ? '' : 'disabled' }}" {{ app.user ? '' : "data-toggle='tooltip' data-placement='top' title='Only registered users could start test'" }}>Start test</button></td>
                            </tr>
                        {% endfor %}
                        {% for test in completedTests %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>
                                    {% if test.test.getImageName() is not null %}
                                        <img src="{{ vich_uploader_asset(test.test, 'imageFile')|imagine_filter('my_thumb') }}" alt="{{ test.test.getName() }}"/>
                                    {% endif %}
                                </td>
                                <td>{{ test.test.getName() }}</td>
                                <td>{{ test.test.getCreatedAt()|date }}</td>
                                <td>{{ test.test.getQuestionCount() }} </td>
                                <td>{{ test.mark }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="mastfoot">
                    <div class="inner">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}