{% extends "AppBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="form">
        <form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <input type="text" id="username" placeholder="username" name="_username" value="{{ last_username }}" required="required" />
            <input type="password" placeholder="password" id="password" name="_password" required="required" />
            <input type="submit"
                   class="btn btn-success"
                   id="_submit"
                   name="_submit"
                   value="{{ 'security.login.submit'|trans }}" />
            <p class="message">You are haven't an account? <a href="/register">Sign up</a></p>
        </form>
    </div>
{% endblock fos_user_content %}