{% extends "AppBundle::layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <div class="form">
        {{ form_start(form, {'method': 'post', 'action': path('registration'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
        {{ form_end(form) }}
        <p class="message">Already registered? <a href="/login">Sign in</a></p>
    </div>
{% endblock fos_user_content %}
