<div class="modal fade" id="create-new-test-modal" tabindex="-1" role="dialog" aria-labelledby="Create new test" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(form) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Create new Test</h4>
            </div>
            <div class="modal-body">
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.imageFile) }}
                    {{ form_widget(form.imageFile) }}
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    {{ form_widget(form.save, { 'label': 'Save' }) }}
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
            {#<div class="modal-footer">
                <div class="pull-left">
                    {% if user_action == "review" %}

                        {{ form_widget(form.remove, { 'label': 'Decline' }) }}
                    {% elseif user_action == "edit" %}
                        {{ form_widget(form.save, { 'label': 'Save' }) }}
                        {{ form_widget(form.remove, { 'label': 'Remove' }) }}
                    {% endif %}
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>#}
            {{ form_end(form) }}
        </div>
    </div>
</div>