<div class="panel panel-default">
    <div class="panel-heading">
        <span>Edit\Create\Remove tests</span>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Actions &nbsp;<span class="caret"></span></button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#" onclick="createNewTest()">Create new test</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>TestName</th>
                        <th>Image</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Questions</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for test in tests %}
                        <tr data-toggle="collapse" class="tr-collapse" data-parent="#accordion" href="#collapseOne{{ test.getId() }}" aria-expanded="false">
                            <td>{{ test.getId() }}</td>
                            <td>{{ test.getName() }}</td>
                            <td>
                                {% if test.getImageName() is not null %}
                                    <img src="{{ vich_uploader_asset(test, 'imageFile')|imagine_filter('my_thumb') }}" alt="{{ test.getName() }}"/>
                                {% endif %}
                            </td>
                            <td>{{ test.getCreatedAt()|date }}</td>
                            <td>{{ test.getUpdatedAt()|date }}</td>
                            <td>{{ test.getQuestionCount() }}</td>
                            <td><button onclick="editTest(event, {{ test.getId() }})" id="edit-test" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Edit Test"><i class="fa fa-edit"></i></button>&nbsp;<button onclick="deleteTest(event,{{ test.getId }})" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Remove Test"><i class="fa fa-remove"></i></button></td>
                        </tr>
                        <tr>
                            <td colspan="7" style="padding: 0 !important;">
                                <div id="collapseOne{{ test.getId() }}" data-id="{{ test.getId() }}" class="panel-collapse collapse panel panel-info question-panel" aria-expanded="false" style="margin-top: 3px;">
                                    <div class="panel-heading">
                                         {{ test.getName() }} questions
                                         <button type="button" style="margin-top: -7px" class="pull-right btn btn-default create-new-question-btn" onclick="createNewQuestion({{ test.getId() }})">add question</button>
                                    </div>
                                    <div class="panel-body panel-body-table-{{ test.getId() }}">
                                        <div class="progress progress-striped active" style="margin-bottom: 0; display: none">
                                            <div class="progress-bar" style="width: 100%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>