<div class="modal fade" id="create-new-question-modal" tabindex="-1" role="dialog" aria-labelledby="Create new question" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(form) }}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Create new Question</h4>
            </div>
            <div class="modal-body">
                {{ form_errors(form) }}
                <div class="form-group">
                    {{ form_errors(form.questionText) }}
                    {{ form_widget(form.questionText) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.imageFile) }}
                    {{ form_widget(form.imageFile) }}
                </div>
                <div class="form-group">
                    <ul id="answers-fields-list" data-prototype="{{ form_widget(form.answers.vars.prototype)|e('html_attr') }}" style="padding: 0; list-style: none;">
                        {% for answersFields in form.answers %}
                            <li>
                                {{ form_widget(answersFields) }}
                            </li>
                        {% endfor %}
                    </ul>
                    <a href="#" id="add-another-answer" onclick="addNewAnswer()">Add another answer</a>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    {{ form_widget(form.save, { 'label': 'Save' }) }}
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>