<div class="table-responsive" id="questions-table">
    {% if questions is not empty %}
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>#</th>
                <th>Text</th>
                <th>Image</th>
                <th>Updated At</th>
                <th>Answers count</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                    <tr data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{ question.getId() }}" aria-expanded="false">
                        <td>{{ question.getId() }}</td>
                        <td>{{ question.getQuestionText() | raw }}</td>
                        <td>
                            {% if question.getImageName() is not null %}
                                <img src="{{ vich_uploader_asset(question, 'imageFile')|imagine_filter('my_thumb') }}" alt="question image"/>
                            {% endif %}
                        </td>
                        <td>{{ question.getUpdatedAt()|date }}</td>
                        <td>{{ question.getAnswersCount() }}</td>
                        <td><button onclick="editQuestion(event, {{ question.getId() }})" id="edit-test" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Edit Test"><i class="fa fa-edit"></i></button>&nbsp;<button onclick="deleteQuestion(event, {{ question.getId }})" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Remove Test"><i class="fa fa-remove"></i></button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>
            Test hasn't any questions
        </div>
    {% endif %}
</div>